body {
    margin: 0;
    padding: 15px 30px;
    font-family: helvetica, sans-serif;
}

h1 a {
    text-decoration: none;
    color: black;
}

.definition {
    height: 100px;
    line-height: 100px;
    font-size: 13px;
}

.header h1 {
    font-family: helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
}

.sidebar {
    width: 200px;
    font-family: helvetica, sans-serif;
    font-size: 12px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a.active {
    color: #4A90E2;
}

#fwd:hover, #bwd:hover {
    cursor: pointer;
}

#fwd:hover {
}

#less:hover, #more:hover {
    cursor: pointer;
}

.steps {
    width: 30px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.presentation {
    display: flex;
    width: 800px;
}

.canvas-container {
    margin: auto;
}

.step {
    width: 20px;
    height: 20px;
    background-color: #ddd;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.step.active {
    background-color: #4A90E2;
}
